* {
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
}
main {
    margin-bottom:100px;
}
a {
    text-decoration:none;
}
#booking_side_tab a:hover {
    text-decoration:none;
}
#booking_side_tab h1:hover {
    background-color: rgba(255, 128, 204, 0.75);
}
body {
    position: relative;
}
.contactBg, .bokingBg {
  background: url(../images/static/contactBg.jpg) no-repeat left center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.testBg {
    background-color: #f3f3f3;
}
.services h1, .booking h1, .contact h1, .portfolio h1 {
    font-size: 1.25rem;
    margin: 0px;
    color:#616161;
    font-weight: 600;
}
.wrapper {
    background-color:#cccccc;
    min-height: 30px;
}
header.services {
    min-height:380px;
    background-image:url(../images/static/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
header.container-fluid {
    padding: 0;
}
.navWrapper {
    background: rgba(255, 255, 255, 0.75);
    width:100%;
    position:fixed;
    top:0px;
    z-index:3;
}
.booking, .contact, .portfolio {
    margin-top:55px;
}
.booking h1, .contact h1, .portfolio h1 {
    margin-bottom:15px;
}
.title {
    padding: 10px;
}
.serviceDiv h1 {
    text-transform:uppercase;
}
.serviceDiv {
    background-color:#dadada;
    position: relative;
    min-height: 200px;
    cursor: pointer;
}
.serviceDiv:hover {
    background-color:#fdd4ed;
}
.portfolioDiv {
    background-color:grey;
    cursor: pointer;
    padding-right:0px;
    padding-left:0px;
}
.gallery img {
    width: 100%;
    padding-right:0px;
}
#booking_side_tab h1 {
    background-color: rgba(255,36,168, 0.75);
    font-size: 31px;
    font-weight: 700;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    letter-spacing: -1px;
    line-height: 19px;
}
#booking_side_tab {
    max-width:197px;
    position:fixed;
    right:-9px;
    bottom:318px;
    z-index:1;
}
.kerning {
    font-size: 20px;
}

input[type=text], input[type=email] {
    border-color:#fff;
    border-radius: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #e2e2e2;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #e2e2e2;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #e2e2e2;
}
:-moz-placeholder { /* Firefox 18- */
    color: #e2e2e2;
}
:placeholder-shown::placeholder {
    color: #e2e2e2;
}
label {
    color: #6b6b6b;
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 100;
}
/* .btn-primary {
    background-color:rgba(255,36,168, 0.75);
    border:none;
}
.btn-primary:hover {
    background-color:rgba(255, 128, 204, 0.75);
}
.btn-primary:not(:disabled):not(.disabled):active {
    background-color:rgba(255,36,168, 0.75);
} */
.btn-pink {
    color:#fff;
    background-color:rgba(255,36,168, 0.75);
    border:none;
    border: 1px solid transparent;
}
.btn-pink:hover {
    background-color:transparent;
    color:#ff24a8bf;
    border: 1px solid rgba(255,36,168, 0.75);
}
.btn-pink:not(:disabled):not(.disabled):active {
    background-color:rgba(255,36,168, 0.75);
}
.btn-white {
    border: 1px solid rgba(255, 128, 204, 0.75);
    color:#ff24a8bf;
    background-color:rgba(255, 255, 255, 0.75);
}
.btn-white:hover {
    background-color:transparent;
    color:#fff;
    border: 1px solid #fff;
    padding:-1px;
}
.btn-white:not(:disabled):not(.disabled):active {
    background-color:rgba(255,36,168, 0.75);
}
#servicePopUp {
    display: none;
    z-index:1;
    position: fixed;
    top:5px;
    margin-top: 60px;
}
#serviseTab {
    min-height: 300px;
    background-color: rgba(255, 128, 204, 0.75);
    border-radius:10px;
    padding: 10px;
}
.bold {
    font-weight: 700;
}
nav a .bold {
    color:#2b2b2b;
}
.smicon {
    max-width: 40px;
    min-width: 20px;
    width: 100%;
    margin-top: 10px;
    fill:#666;
}
.smicon:hover {
    fill:#acacac;
}
footer {
    background-color: rgba(255, 255, 255, 0.75);
    position: fixed;
    bottom: 0;
    padding:5px;
}

/* service images bgs */
#basicFacial {
    background-image: url(../images/static/servbg1.png);
}

#europeanMassage {
    background-image: url(../images/static/servbg2.png);
}

#aromatherapyFacial {
    background-image: url(../images/static/servbg3.png);
}

#backFacial {
    background-image: url(../images/static/servbg4.png);
}

#expressFacial {
    background-image: url(../images/static/servbg5.png);
}
#deepPore {
    background-image: url(../images/static/servbg6.png);
}

#makeUp {
    background-image: url(../images/static/servbg7.png);
}

#eyelashExtensions {
    background-image: url(../images/static/servbg8.png);
}

#dramaticEyelashExtensions {
    background-image: url(../images/static/servbg9.png);
}

#catEyelashExtensions {
    background-image: url(../images/static/servbg10.png);
}
#bodyWaxing {
    background-image: url(../images/static/servbg11.png);
}

#eyelashExtensionsTraining {
    background-image: url(../images/static/servbg12.png);
}

.services .white {
    color:#fff;
    font-weight: 700;
    line-height: 1;
    font-size: 1.4em;
    letter-spacing: -1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.headerTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.headerTitle h1 {
    color: #565656;
    font-size: 47px;
    font-weight: 700;
    letter-spacing: -4px;
}
.headerTitle p {
    color: #565656;
}
form {
    padding: 30px;
    background-color: rgba(195, 195, 195, 0.4);
    border-radius: 10px;
}
#popServiceDescription {
    font-weight: 100;
}

@media (max-width: 575.98px) {
    .headerTitle h1 {
        font-size: 36px;
    }
    .headerTitle p {
        font-size: 11px;
    }
}

@media (max-width: 767.98px) {
    #booking_side_tab {
        bottom:68px;
    }
    .services .white {
        font-size: 1.2em;
    }
    #popServiceTitle {
        font-size: 32px;
    }
}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}